/*Ajustes basicos de estilo*/
body {
    font-family: 'poppins', sans-serif !important;
    background-color: #f4f4f4;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    font-size: 1rem;
}

/*Estilos de letra de los encabezados*/
h1{
    color: #fafafa;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;
    font-size:2.2rem
}

/*Estilo de Titulos*/
h2, h3 {
    display:block;;
    color: #ffffff;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;
}

/*Estilos para formularios*/
form {
    background: #d98bbd;
    padding: 1.5rem;
    margin:1.5rem auto;
    border-radius: 2rem;
    max-width: 90%;
    box-shadow: 0 0 0.6rem #f2a0b6;
    text-align: center;
    color:#ffffff;
}

/*Estilos del encabezado*/
header {
    background: linear-gradient(0deg, #f2a0b6, #8c2ab6);
    padding: 1.5rem 0;
    text-align: center;
    margin-bottom: 3rem;
    border-radius:1.5rem;
    margin: 0 auto; 
    color:#ffffff;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;
}

/*Estilos del contenido*/
main {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 0.75rem;
}

/*Estilo del menú navegador*/
nav {
    margin-bottom: 20px;
}

/*Arreglos de la imagen de tarjeta*/
img {
    max-width:90%;
    height: auto;
    border-radius:10%;
    display:block;
    margin: 0 auto 3rem;
    margin-bottom:50px;
}

/*Estilo del pie de página*/
footer {
    background: linear-gradient(180deg, #f2a0b6, #8c2ab6);
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}   

/*Estilo de los botones generales*/
button {
    background-color: #f2a0b6;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;

}

/*Estilo del acordeon de bootstrap de registro de usuario*/
#accordionFlushExample .accordion-button {
    background-color: #f2a0b6;
    color: #ffffff;
    font-weight: bold;
    padding: 1rem;
    border-radius: 1.5rem;
    max-width: 90%;
    margin: 0 auto;}

    /*Estilo de registro*/
    .noRegistro {
    color:#8c2ab6;
    margin-top: 2rem;
    max-width:50%;
    margin: 0 auto;
}

/*Estilo de contornos de formularios*/
label {
    display: block;
    text-align: center;
    margin-bottom: 10px;


}

/*Estilo del botón "inicio sesión"*/
.btn.btn-inicio {
    background-color: #f2a0b6;
    color: rgb(255, 255, 255);
    border: none;
    padding: 1.5rem 1.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
} 

.nav-item {
    margin: 0 1rem;
    color: #ffffff;
    font-weight: 600;
}

.nav-link {
    color: #ffffff !important;
    ;
}

/*Estilo de los iconos del menú*/
.nav-link.active {
    margin: 0 1rem;
    color: #ffffff;
    font-weight: 600;
}

.nav-link i {
    font-size: 1.5rem;
    vertical-align: middle;
    margin-right: 0.4rem;
    color:#ffffff;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;

    /*Estilo de la lista de contactos*/
}#listaContacto {
    max-width: 55%;
    margin: 0 auto 1.5rem auto;
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: 0.07rem solid #8c2ab6;
    font-size: 1rem;
    text-align: center;
    display: block;
    color:#ffffff;
    background-color: #d98bbd;
}

/*Estilo del título de contactos*/
.tituloContacto {
    color: #8c2ab6;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

/*Estilo de los campos de banco y tipo de cuenta*/
#banco {
    background-color:#d98bbd;
    color:#ffffff;
    border: 1px solid #8c2ab6;
}

#tipoCuenta {
    background-color:#d98bbd;
    color:#ffffff;
    border: 1px solid #8c2ab6;
}

/*Estilo del boton "enviar dinero"*/
.btn.btn-success {
    background-color: #ffffff!important;
    color: #8c2ab6 !important;
    border: none;
    padding: 0.7rem 3rem;
    border-radius: 0.3rem;
    margin:1.2rem;
}

/*Estilo del boton "guardar destinatario"*/
.guardar {
    background-color: #ffffff!important;
    color: #8c2ab6 !important;
    border: none;
    padding: 0.6rem 0.6rem;
    border-radius: 0.3rem;
}

/*Estilo del boton "volver"*/
.btn.btn-primary {
    background-color: #d98bbd!important;
    color: #ffffff !important;
    border: none;
    padding: 0.7rem 3rem;
    border-radius: 0.3rem;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;
}

/*Estilo del título principal*/
.titulo {
    color: #ffffff;
    Display: block;
    text-align: center;
    padding: 1.5rem;
    background-color:#f2a0b6;
    border-radius:1.5rem;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;

}

/*Estilo del saldo a mostrar*/
.card-text {
    color:#8c2ab6;
    text-shadow: 0.125rem 0.125rem 0.25rem #e2bec7;
    padding: 1.5rem;
}

/*Estilo de los metodos de pago*/
#metodoPago {
    background-color:#d98bbd;
    color:#ffffff;
    border: 1px solid #8c2ab6;
}

/*Estilo tabla*/
.table {
    margin: 0 auto;
    max-width: 80%;
}

.btn-inicio-sesion {
    background-color: #ffffff!important;
    color: #8c2ab6 !important;
    border: none;
    padding: 0.6rem 0.6rem;
    border-radius: 0.3rem;
    margin:1.5rem;
}

/*estilo registro dia de nacimiento*/
#cumpleanos {
    background-color:#d98bbd;
    color:#ffffff;
    border: 1px solid #8c2ab6;
}

.tituloRegistro {
    display:block;
    text-align:center;
    
}

/*Estilo pagina de inicio*/
.login-layout {
    display:flex;
    height:max-content;
}

.login-info {
    flex:1;
    padding: 4rem;
    background: radial-gradient(circle, #f2a0b6, #d98bbd);
    border-radius:1.5rem;
    border: 0.3rem solid #e2bec7
}

.login-form {
    flex:1;
    padding: 6rem 0px;
    
}

/*estilo icono banco index*/
.icono-bank {
    font-size:3rem;
    color: #ffffff;
    text-shadow: 0.125rem 0.125rem 0.25rem #8c2ab6;

}

/*ocupando toda la pantalla*/
input,
select,
textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/*centrando los botones*/
.btn.btn-success,
.btn.btn-primary,
.btn.btn-inicio,
.btn-inicio-sesion {
    display: block;
    margin: 15px auto;
}

/*arreglo para pantallas de celular*/
@media (max-width: 600px) {
    .login-layout {
        flex-direction: column;
    }

    .login-info,
    .login-form {
        padding:2rem 1rem;
    }

    form {
        padding: 1.5 1rem;
    }

    input,
    select,
    textarea {
        font-size: 0.7rem;
    }

    label {
        font-size: 0.9rem;
    }

    .btn.btn-primary {
        font-size: 0.7rem;
    }
}

/*arreglo para pantallas de pc*/
@media (min-width: 1200px) {
    form {
        max-width: 420px;
        padding: 1.2rem;
    }

    .login-info {
        padding: 3rem;
    }

    .login-form {
        padding: 4rem 0;
    }
}